
body{
    font-family: 'Raleway', sans-serif;
}


h1{
    color: #000;
    text-align: center;
    font-family: 'Playfair Display', serif;
    max-width: 500rem;
    font-size: 3rem;
}
h2{
    font-family: 'Playfair Display', serif;
   
}
h3{
    font-family: 'Playfair Display', serif;
}

header{
    font-size: auto;
}

.nomPagina{
    margin-top: 7rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 7rem;
}
h1 span{
    color: rgb(59, 140, 216);
    text-align: center;
}


img{
    max-width: 100%;
    display: block;
    
    border-top-right-radius: 150px;
}

.carousel-item img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 30px auto;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.categorias h2{
    text-align: center;
}

.contenedor{
    max-width: 90rem;
    margin: 0 auto;
}


.cont-nav-global{
    max-width: 150rem;
    font-size: 3rem;
}

.centrar{
    margin: 0 auto;
}

/*Navegacion*/
.navegacion{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.navegacion a{
    text-decoration: #d12173;
}


.hero{
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    height: 40rem;
}

.centrarTitulo{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 500rem;
    font-size: 3rem;
}


.contMain{
    padding-top: 1rem ;

}


/**Productos**/
.productosList{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
}

.productos:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.productos:nth-child(1) img{ 
    height: 35rem;
    width: 100%;
    object-fit: cover;
}


.productos:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.productos:nth-child(2) img{ 
    height: 35rem;
    width: 100%;
    object-fit: cover;
}

.productos:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.productos:nth-child(3) img{ 
    height: 35rem;
    width: 100%;
    object-fit: cover;
}

.productos:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}


.productos:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.productos:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}


.productos{
    background-color: #2191d1;

}

.infoProducto{
    text-align: center;
    color: #ffffff;
    margin-top: 2rem;
    padding: 2rem;


}

.infoProducto .costo{
    text-align: center;
    font-size: 2rem;
    display: block;
}
.infoProducto a{
    text-transform: uppercase;
    background-color: #40af00;
    display: block;
    color: #FFFFFF;
    font-weight: 700;
    padding: 1rem;
    transition: background-color .5s ease-out;
    
}

.infoProducto a:hover{
    background-color:#2f6b0de0 ;
}

/**Expandir imagens**/
.expandir{
    transition: transform 0.4s ease;
}

.expandir:hover {
    transform: scale(1.05);
    border-radius: 50px;
}


/**Categorias**/
.categoria a{
    text-align: center;
    display: block;
    padding: .8rem;
    font-size: 2rem;
    border-end-end-radius: 30px;
}

.categoria a:hover{
    background-color: #2191d1;
    color: aliceblue;
    font-size: 2rem;
    border-top: 2rem;
}

.list-categorias{
      display: grid ;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
}


/**Footer**/

.piePagina{
    border-top: 3px solid #817f7f;
    margin-top: 4rem;
    padding-top: 1rem;

}

.grid-piePagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 3rem;
}

.grid-piePagina h3{
    margin-top: 5px;
    text-align: center;
}


.pieNav a{
   display: block;
   text-align: center;
   text-decoration: none;
   color: #000;

}

.piePagina p{
    margin: 5rem 0 5rem 0;
    text-align: center;
    font-size: 15px;
}